body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #fafafa;
  font-family: 微软雅黑, "arial", "sans-serif";
}

a {
  color: #fff;
}

.title {
  color: #555;
  margin-top: 50px;
}

.draggable-header-view {
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,.15);
  width: 320px;
  height: 560px;
  overflow: hidden;
  margin: 50px auto;
  position: relative;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  user-select: none;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .header,
  .content {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: justify;
    box-sizing: border-box;
  }
  .header {
    height: 160px;
  }
  .content {
    color: #333;
    line-height: 1.5em;
  }
  .redux-example {
    font-size: 20px;
    color: #777;
    text-align: center;
    h4 {
      margin: 0;
    }
    button {
      width: 44px;
      height: 44px;
      border: none;
      color: #aaa;
      font-size: 28px;
      background-color: #eee;
      border-radius: 50%;
      outline: none;
      font-weight: 200;
      margin: 10px 20px;
      transition: all .25s ease-in;
      &:hover {
        color: #fff;
        background-color: #2196F3;
      }
    }
  }
}
